/* shared style  */
*{
  margin:0;
  padding: 0;
}
.font {
  font-family: "Inter", sans-serif;
  font-weight:400;
}
.dark-1{
  color:#181818;
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}
.early-access-btn{
  color:white;
  background-color: rgba(70,145,101,1);
  border:none;
  border-radius:4px;
  /* width: 160px; */
  height:40px;
  padding:10px 12px;
  font-weight:600;
  font-size:15px;
}
.green{
  color:#4e9f72;
}

/* header part ------------------------------------------- */
/* nav bar  */
.menu li{
  list-style: none;
}
.menu li a{
  text-decoration:none;
  font-size: 14px;
  font-weight: 500;
}
.vault{
  display: flex;
  align-items: center;
  gap: 8px;
}

nav div{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.menu{
  display: flex;
  align-items: center;
  gap: 30px;
  padding:0;
}


/* banner part  */
.banner{
  border:1px solid white;
  max-width: 100%;
  height:620px;
  background-image: url('../assets/hero-bg.png');
  margin-top:6px;

}
.banner h1{
  font-weight: 700;
  font-size: 60px;
  margin:20px 0 30px;
}
.banner-acs{
  border-radius:16px;
  border:none;
  width:170px;
  height:15px;
  background-color: white;
  color:rgba(70,145,101,1);
  padding:6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin:0 auto;
}
.banner-acs h4{
  font-weight: 500;
  font-size: 14px;
  margin:0 auto;
}
.layered-circle {
  width: 0.4rem;
  height: 0.4rem;
  background: #4e9f72;
  border-radius: 50%;
  box-shadow:
    0 0 0 2px #9fd1b6,
    0 0 0 4px #cfe8db;
}

.banner-para p{
  font-weight: 300;
  font-size:15px;
  max-width: 50%;
  color:rgba(255,255,255,1);
  margin:0 auto 15px;
}
.banner-para{
  margin-bottom:33px;
}
.how-works{
  color:white;
  background-color: transparent;
  border:1px solid white;
  border-radius:4px;
  height:40px;
  padding:10px 12px;
  font-weight:600;
  font-size:15px;
}

.button-banner{
  display: flex;
  gap:13px;
  justify-content: center;

}

.banner-text{
  margin:130px 120px 160px;
  text-align: center;
}



/* main part ------------------------------------------------------- */

/* notes section  */
.card-img{
  background-color: rgba(249, 85, 85, 1);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img img{
  height: 55%;
  width: 55%;
}
.cards{
  /* border:2px solid red; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  max-width: 20%;
  padding:40px 20px 30px;
  display: grid;
  place-items: center;
  text-align: center;
}
.notes-card{
  display: flex;
  justify-content: center;
  gap:20px;
  margin:40px 120px;
}
.notes-header{
  text-align: center;
}
.notes-header h2{
  font-weight: 700;
  font-size: 2.5rem;
  margin:50px 0 15px;
  color:rgba(0, 25, 49, 1);
}
.cards h3{
  font-weight:600;
  font-size: 1.25rem;
  margin:8px 0;
}
.cards p,
.notes-header p,
.part-3,
.article_para{
  font-weight: 400;
  font-size: 0.85rem;
  color: rgba(98, 115, 130, 1);
}



/* brain-design  */
.brain-design{
  display: flex;
  gap:50px;
  margin: 100px;
}
.part-3{
  margin-bottom: 35px;
}
.brain-img{
  width: 500px;
  height: 500px;
}
.design-description{
  padding: 60px 0;
}
.design-description h2{
  font-weight: 700;
  font-size: 2.5rem;
  color:rgba(0, 25, 49, 1);
  margin:20px 0;
}
.design-description li{
  list-style-type: none;
}

.list div{
  display: flex;
  gap:4px;
  margin-top: 14px;
}
.list div li{
  font-weight: 500;
  font-size: 0.95rem;
  color:rgba(0, 25, 49, 1);
}
.solution{
  font-weight: 400;
  font-size:1rem;
  color:rgba(70, 145, 101, 1);
}



/* article-thinking part style  */

.article h3{
  font-weight:700;
  font-size: 2rem;
}
.article{
  text-align: center;
  background-color: rgba(247, 246, 242, 1);
  padding: 60px 40px;
  margin:0 100px 100px;
}
.article_para{
  max-width: 50%;
  margin:16px auto;
}
.last-btn{
  display: flex;
  justify-content: center;
}
#shadow-btn{
   box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}



/* footer section  */
.footer-section{
  background-color: rgba(0, 25, 49, 1);
}
.social-icons{
   background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-section{
  /* 255,255,255 --> white color,   0.15 --> 15% opacity */
  border-top:0.5px solid rgba(255, 255, 255, 0.15);
  color:rgba(250, 250, 250, 0.7);
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin:0 100px;
  padding:20px 0;
}
.icon-section h5{
  color:rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size:1rem;
}
.icon-section{
  display: flex;
  justify-content: space-between;
  margin:120px 120px 80px;
  padding-top:100px; 
}
.social{
  display: flex;
  gap:15px;
}
.social-links{
  display: grid;
  row-gap: 10px;
}